[core]
  autocrlf = input
  editor = code --wait
[includeIf "gitdir:~/projects/personal/"]
  	path = .gitconfig-personal
[includeIf "gitdir:~/projects/company-one/"]
  	path = .gitconfig-company-one
[includeIf "gitdir:~/projects/freela/"]
  	path = .gitconfig-freela
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff
[pull]
	rebase = false
[credential]
	helper = cache
